/*fix font family of buttons*/

.a-propos .under-list button,
#reservation-button
{
	width:60%;
	margin:4% auto !important;
	font-weight:600;
	font-size:13pt;
	letter-spacing: 1.1px;
	text-transform: uppercase;
}

.reserver #section-reserver button{
	width:100%;
	font-family: 'Nunito' !important;
	font-weight:600;
	font-size:13pt;
	letter-spacing: 1.1px;
	text-transform: uppercase;

}

@media (max-width:768px){
	.a-propos .under-list button{
		width:80%;

	}
}

.a-propos .under-list button::before,
#reservation-button,
.reserver #section-reserver button
{
	font-family:'arinella' !important;
}


/*end button settings*/

/*reservation*/
#reservation-button{
	position: absolute;
	z-index:1;
	bottom:8%;
	left:50%;
	transform:translate(-50%,0);
	margin:-35px -35px 0 0;
	letter-spacing: 1.3px;
	padding:1.6em 3em;
	color:#fafafa;
	width:auto;
}
#reservation-button p{
	padding-right:7px;
	padding-top: 4px;
}
#reservation-button.fa-continue::before{
	padding:1.3em 0 0 2.4em;
	font-size:11pt;
	opacity: 0.65;
	transition: all 0.27s linear;
}
#reservation-button:hover.fa-continue::before{
	opacity: 1;
}
/*end*/
/*a-propos lists buttons custom*/
.a-propos button.fa-next::before{
	opacity: 0.65;
	font-size:17pt;
	transition: all 0.3s linear;
}
.a-propos button:hover.fa-next::before, .a-propos-active-button::before{
	opacity:1 !important;
	transform: rotate(90deg);
}


/*btn preset*/
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
/*button one*/

#aside-links .btn{
	position:relative;
	margin:0;
	width:100%;
	padding:1em 0;
	text-transform: initial;
}
.btn-1 {
	transition: all 0.1s ease;
}
svg {
	height: 3.3em;
	left: 0;
	position: absolute;
	top: 0; 
	width: 100%; 
	transition: 0.001s;
}
rect {
	fill: none;
	stroke: #616161;
	stroke-width: 2;
	stroke-dasharray: 422, 0;
	transition: all 3.35s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn-1:hover {
	letter-spacing: 1px;
}
.btn-1:hover rect {
	stroke-width: 5;
	stroke-dasharray: 15, 310;
	stroke-dashoffset: 48;
}
.btn-1 span{
	font-weight: 200;
	transition: all 0.4s linear;
}
.btn-1:hover span{
	font-weight: 500;
}
.btn-1:hover .fa-next:before{
	text-shadow: 0 0 1px #85929E;
	transform:scale(1.05);
}
/* Button 3 */
.btn-3 {
	background: #F99E48 ;
	color: #fff;
}

.btn-3:hover,.a-propos-button-background {
	background: #F48A5F;
}

.btn-3:active, .btn-3:focus{
	transform: scale(1.02);
	border:0.5px solid #F48A2E;
	background: #F48A5F;
}

.btn-3:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}

.btn-3e {
	padding: 25px 120px 25px 60px;
	overflow: hidden;
}

.btn-3e:before {
	left: auto;
	right: 10px;
	z-index: 1;
}

.btn-3e:after {
	width: 35%;
	height: 200%;
	background: rgba(255,255,255,0.1);
	z-index: 1;
	right: 0;
	top: 0;
	margin: -5px 0 0 -5px;
	-webkit-transform-origin: 0 0;
	-webkit-transform: rotate(-20deg);
	-moz-transform-origin: 0 0;
	-moz-transform: rotate(-20deg);
	-ms-transform-origin: 0 0;
	-ms-transform: rotate(-20deg);
	transform-origin: 0 0;
	transform: rotate(-20deg);
}

.btn-3e:hover:after {
	width: 45%;
}

/*button 7*/

.btn-7 {
	background: #FF9B00;
	color: #fff;
	border-radius: 7px;
	box-shadow: 0 3px #E47F25;
	padding: 22px 50px 25px 100px;
	transition: all 0.3s linear;
}
.btn-7:focus{
	box-shadow: 0 0.5px #E47F25;
	transition: 0.1s;
}


/* Button 7b */
.btn-7b {
	overflow: hidden;
}

.btn-7b:before {
	position: absolute;
	left: 0;
	width: 40%;
	font-size: 160%;
	line-height: 0.8;
	color: #8D5F5F;
	opacity:0.6;
	transition: 0.3s;
}
.btn-7b:hover:before,.bnt-7b:focus:before{
	opacity:0.9;
	color:#fff;

}

.btn-7b:focus:before {
	-webkit-animation: scaleUp 0.5s;
	-moz-animation: scaleUp 0.5s;
	animation: scaleUp 0.5s;
}

@-webkit-keyframes scaleUp {
	80% {
		opacity: 0;
		-webkit-transform: scale(2);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(2);
	}
}

@-moz-keyframes scaleUp {
	80% {
		opacity: 0;
		-moz-transform: scale(2);
	}
	100% {
		opacity: 0;
		-moz-transform: scale(2);
	}
}

@keyframes scaleUp {
	80% {
		opacity: 0;
		transform: scale(2);
	}
	100% {
		opacity: 0;
		transform: scale(2);
	}
}

/*a effect*/
/* Effect 15: scale down, reveal */
.cl-effect-15 a {
	color:#EB984E;
	text-shadow: none;
	transition:0.5s;
}

.cl-effect-15 a::before {
	color: #626262;
	content: attr(data-hover);
	position: absolute;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	-moz-transition: -moz-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.cl-effect-15 a:hover::before,
.cl-effect-15 a:focus::before {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0;
}


/*effect a geoemetric*/
