doctype html 
<!-- Loic Roux - A web maker personal page. Go ahead and copy the page style if you like it. Spoofing my identity is forbidden, i may exercise my rights if i need.* @version #{htmlWebpackPlugin.options.version} * @link http://www.loicroux.fr* @license MIT-->

html.no-js.overflow-y-hidden.overflow-x-hidden(lang="en")
  head
    include ../includes/head
  body.bg-info.overflow-y-hidden
    main.wrappers
      header#header
        include ../includes/header
      section#main
        article#presentation.shadow-md.bg-info
          include ../includes/presentation
        article.cv.bg-info
          include ../includes/cv
        p.separate.bg-info
        include ../includes/realisations
        article.contact
          include ../includes/contact
    footer#footer.wrappers
      include ../includes/footer
    article.preloader-wrap
      include ../includes/loader
