$Ftitle : 1.3rem;

/*fix autofill colors
/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

/*validate*/

label.error {
  color: #ffa959;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  right: 2px;
  top: 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  @include muli;
  font-weight: 400;
  opacity: 0.86;
}

label .checked {
  color: #3cd13a;
  font-size: 2em;
  line-height: 1.4 !important;
}

.error-highlight {
  border-bottom: 2px solid red;
  opacity: 0.9;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/*loader event ajx*/
#loader {
  opacity: 0;
  margin: -30px -70px 0 0;
}

/*loader line*/

$decale: 200ms;
$j: 0;

.line {
  -webkit-animation: expand 1s ease-in-out infinite;

  animation: expand 1s ease-in-out infinite;
  border-radius: 10px;
  display: inline-block;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  margin: 0 4px;
  width: 1px;
  height: 25px;

  @for $j from 1 through 4 {}

  @if ($j==1) {
    :nth-child($j) {
      background: #ecf0f1;
    }
  }

  @else {
    $decale: ($j - 1) * $decale;

    :nth-child($j) {
      -webkit-animation-delay: $decale;
      animation-delay: $decale;
    }
  }
}

@keyframes expand {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
  }
}

.form-element {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.form-element-hint {
  font-weight: 400;
  font-size: 0.6875rem;
  color: #fafafa;
  display: block;
}

.form-element-bar {
  position: relative;
  height: 5px;
  background: #fafafa;
  display: block;
}

.form-element-label {
  position: absolute;
  top: 0.75rem;
  line-height: 2.7rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  font-size: $Ftitle;
  @include heebo;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  color: #fafafa;
  transform: translateY(-50%);
  transform-origin: left center;
  transition: transform 0.28s ease, color 0.28s linear, opacity 0.28s linear;
}

.form-element-field {
  @include heebo;
  font-weight: 500;
  font-size: $Ftitle;
  outline: none;
  height: 2.5rem;
  display: block;
  background: none;
  padding: 0.165rem 0.165rem 0.0705rem;
  border: 0 solid transparent;
  line-height: 2;
  width: 100%;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.001;
  -webkit-transition: opacity 0.28s ease;
  transition: opacity 0.28s ease;
  will-change: opacity;
}

.form-element-field:-ms-input-placeholder {
  color: #fafafa;
  transform: scale(0.9);
  transform-origin: left top;
}

.form-element-field::-webkit-input-placeholder {
  color: #fafafa;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}

.form-element-field::-ms-input-placeholder {
  color: #fafafa;
  transform: scale(0.9);
  transform-origin: left top;
}

.form-element-field::placeholder {
  color: #fafafa;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}

.form-element-field:focus~.form-element-bar {
  background: #62b6ff;
}

.form-element-field:focus~.form-element-label {
  color: #6ab9ff;
}

.form-element-field.-hasvalue,
.form-element-field:focus {
  opacity: 1;
}

.form-element-field.-hasvalue~.form-element-label,
.form-element-field:focus~.form-element-label {
  -webkit-transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
  transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
  cursor: pointer;
  pointer-events: auto;
}

input.form-element-field:not(:placeholder-shown),
textarea.form-element-field:not(:placeholder-shown) {
  opacity: 1;
}

input.form-element-field:not(:placeholder-shown)~.form-element-label,
textarea.form-element-field:not(:placeholder-shown)~.form-element-label {
  -webkit-transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
  transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
  cursor: pointer;
  pointer-events: auto;
}

textarea.form-element-field {
  height: auto;
  min-height: 2rem;
  height:40px;
  max-height: 10em;
  resize: none;
  padding-right: 2em;
  color: #fff;
  @include heebo;
  font-weight:300;
}

.form-select-placeholder {
  color: #a6a6a6;
  display: none;
}

.form-select .form-element-bar::before {
  content: "";
  position: absolute;
  height: 0.5em;
  width: 0.5em;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  display: block;
  right: 0.5em;
  bottom: 0;
}


/*contact button*/

$but-border: 5px dotted #fafafa;
$outline-border: 5px solid #fafafa;

#contact .btn {
  position: relative;
  margin: 7vh auto 0 auto;
  letter-spacing: 0.15em;
  width: 100%;
  border: $but-border;
  border-radius: 0;
  border-style: dotted;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;

  &:before {
    content: "";
    @include posAll;
    display: block;
    -webkit-transition: outline 0.2s ease-in;
    transition: outline 0.2s ease-in;
  }

  &hover {
    -webkit-box-shadow: 1px 3px 8px 2px RGBa(100, 100, 100, 0.26);
    box-shadow: 1px 3px 8px 2px RGBa(100, 100, 100, 0.26);
    border: 1px solid rgba(0, 0, 0, 0);
    color: #fafafa;
  }

  &:hover::before {
    content: "";
    outline: $outline-border;
  }
}

/*button after submit*/
#contact .success-ajax {
  color: #fff;
  background: #3cd13a;
  border: none;
  background-size: 100px 100px;
  background-position: 0 -100%;
  -webkit-animation: slidein 3s infinite;
  animation: slidein 3s infinite;
  animation: slidein 3s infinite;
  animation: slidein 3s infinite;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 0.9em !important;
}

#contact .success-ajax:hover {
  background: #3cd13a;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@keyframes slidein {
  from {
    background-position: 0 -100%;
  }

  to {
    background-position: 0 0;
  }
}

/*==========CARTE DE VISITE==========*/

#carte-visite {
  h1 {
    font-size: 1.7rem;
    -webkit-box-shadow: 0px 4px -6px rgba(82, 82, 82, 0.363);
    box-shadow: 0px 4px -6px rgba(82, 82, 82, 0.363);
  }

  .vid-carte-visite {
    position: relative;
    height: 210px;
    width: 350px;
    z-index: 1;

    @media (min-width: $break-sm) {
      height: 220px;
      width: 400px;
    }
  }



  .carte-visite-wrapper {
    height: 100%;
    width: 100%;
    box-sizing: unset;

    video {
      @include posAll;
      object-fit: cover;
      width: 100%;
      transition: box-shadow 0.8s ease;

      @media (min-width: 576px) {
        box-shadow: 20px 20px 0px -5px #fff;

        &:hover video {
          box-shadow: 25px 25px 0px -5px #fff;
        }
      }

      z-index:-1;
    }


    button {
      @include posAll;
      @include heebo;
      font-size: 2em;
      font-weight: 700;
      color: $info;
      height: 95%;
      width: 100%;
      opacity: 0;
      z-index: -1;
      transition: transform 0.2s ease-in-out, opacity 0.25s ease-in, z-index 0.2s linear;
      @include button;

      &:focus,
      &:hover {
        outline: none;
      }
    }
    @media (min-width: 576px) {
      height: 107.5%;
    }

    &:hover button {
      opacity: 0.7;
      z-index: 0;
    }
  }
}
