


/* Effect 2: 3D rolling links, idea from http://hakim.se/thoughts/rolling-links */
.cl-effect-2 a {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  line-height: 2em;
  font-size: 2.7em;
	 //fix bootstrap non exact padding
	
	span{
		margin-right: 0.32em;
	}

  @media (min-width: $break-md) {
    font-size: 1.15em;
    line-height: 44px;
    padding-right: 0;


    span {
			margin-right:0;
      position: relative;
      display: inline-block;
      transition: transform 0.4s;
      transform-origin: 50% 0;
      transform-style: preserve-3d;
      cursor: pointer !important;

      &::before {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        content: attr(data-hover);
        transition: background 0.3s;
        transform: rotateX(-90deg);
        transform-origin: 50% 0;
        z-index: -1;
        cursor: pointer;
      }
    }

    &:hover span,
    .active span,
    &:focus span {
      transform: rotateX(90deg) translateY(-22px);
      cursor: pointer;
    }

    &:hover span::before,
    &:focus span::before {
      background: #8a8a8a;
      cursor: pointer;
    }
  }
}



/*REA BUT*/


.btn-6 span {
  position: absolute;
  display: block;
  opacity: 0;
  width: 35em;
  height: 35em;
  border-radius: 50%;
  background: Rgba(41, 41, 41, 0.4);
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out, opacity 0.5s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.btn-6:hover {
  color: #cfd5d6;
}

.btn-6:hover span {
  width:calc(100vw * 1.3);
  height:calc(100vw * 1.3);
  opacity: 1;
}

.btn-6:active {
  background-color: Rgba(41, 41, 41, 0.87);
}

@media (max-width:768px) {
  .btn-6 span {
    width: 280%;
    height: 280%;
    opacity: 0;
    visibility: hidden;
  }
}






/*=========ARROWS==========*/


.round-arrow {
  position: absolute;
  border: 2px solid #fff;
  width: 40px !important;
  height: 40px !important;
  right: 4%;
  top: 34%;
  transform: translate(-2%, -34%);
  display: none;
  cursor: pointer;
  z-index: 100;
}

@media (min-width:768px) {
  .round-arrow {
    top: 23.5%;
    right: 4%;
    transform: translate(-4%, -23.5%);
    display: block;
  }
}


.cta .arrow {
  left: 30%;
}

.arrow {
  position: absolute;
  bottom: 0;
  margin-left: 0px;
  width: 12px;
  height: 12px;
  background-size: contain;
  top: 12.7px;
}

.segunda {
  margin-left: 8px;
}

.next {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }

  25% {
    opacity: 0;
    transform: translateX(10px) scale(0.9);
  }

  26% {
    opacity: 0;
    transform: translateX(-10px) scale(0.9);
  }

  55% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

@-webkit-keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }

  25% {
    opacity: 0;
    transform: translateX(10px) scale(0.9);
  }

  26% {
    opacity: 0;
    transform: translateX(-10px) scale(0.9);
  }

  55% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration: 2.3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.arrow.primera.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration: 2.3s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


.navbar-toggler.toggleMenu span:nth-child(2){
  opacity:0;
}
.navbar-toggler.toggleMenu span:nth-child(1){
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.navbar-toggler.toggleMenu span:nth-child(3) {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}
