.wrappers{
  visibility: hidden;
  height:0;
}
.preloader-wrap {
  width: 100vw;
  height: 110vh;
  background: rgba(235, 238, 238, 0.99);
  position: fixed;
  top:0;
  left: 0;
  z-index: 999;
  display: block;
}

.percentage {
  position: absolute;
  width: 1%;
  display: none;
  z-index: 999;
  top: 49.4% !important;
  right: 12.5%;
  transform: translateY(-50%);
  transform: translateX(-12.5%);
  transition: width 0.5s linear;
  background: #fff;
  height:2px;
  -webkit-animation: btow 4s;
  animation: btow 4s;
  border-radius: 10px;
  @media screen and (min-width:$break-sm){
    top: 50% !important;
  }

}

.perc2 {
  right: inherit;
  left: 18.5%;
  transform: translate(0, -18.5%);
}

@keyframes btow {
  0% {
    background: #606060;
  }

  50% {
    background: #909090;
  }

  100% {
    background: #fef;
  }
}


@-webkit-keyframes btow {
  0% {
    background: #606060;
  }

  50% {
    background: #909090;
  }

  100% {
    background: #fef;
  }
}


.loader {
  height: 100vh;
}

.trackbar {
  width: 100%;
  height: 100%;
  color: #fafafa;
  text-align: center;
  line-height: 30px;
  overflow: hidden;
  position: relative;
  opacity: 0.99;
}

.loadbar {
  top: 0;
  left: 0;
  right:0;
  bottom:0;
  position: absolute;
  z-index:10;
  width: 100%;
  height: 100vh;
  -webkit-animation: flicker 10s infinite;
  animation: flicker 10s infinite;
  overflow: hidden;
  -webkit-transition: background 3.2s ease;
  transition: background 3.2s ease;
}

.loadbar {
  background: -webkit-gradient(linear, left top, left bottom, from(#4a4a4a), to(#4a4a4b));
  background: linear-gradient(#4a4a4a, #4a4a4b);
}

.loadbar h1 {
  display: none;
  z-index: 99;
  left: 53%;
  top: 40%;
  -webkit-transform: translate(-50%, -53%);
  transform: translate(-50%, -53%);
  width: 100%;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  -webkit-animation: colorchange 22s infinite alternate;
  animation: colorchange 22s infinite alternate;
}

@media (min-width:576px) {
  .loadbar h1 {
    font-size: 2.2em;
  }
}

@media (min-width:768px) {
  .loadbar h1 {
    font-size: 3.3em;
  }
}

@media (min-width:992px) {
  .loadbar h1 {
    font-size: 4.4em;
  }
}

@media (min-width:1200px) {
  .loadbar h1 {
    font-size: 5.1em;
  }
}

/*porfolio writing*/
.loadbar .wrapper {
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*==== PORTFOLIO letters effect =====*/
.ml10 .letter {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  letter-spacing: 4px;
}


.ml10 {
  position: relative;
  font-weight: 900;
  font-size: 0.65em;
}

.ml10 .text-wrapper {
  position: relative;
  left:2%;
  display: inline-block;
  padding-top: 2.7em;
  overflow: hidden;
  font-size: 0.7em;

}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (min-width:576px) {
  .ml10 .text-wrapper {
    padding-top: 2.5em;
    font-size: 1.45em;
  }
}

@media (min-width:768px) {
  .ml10 .text-wrapper {
    padding-top: 1.4em;
    font-size: 1.5em;
  }
}

@media (min-width:992px) {
  .ml10 .text-wrapper {
    padding-top: 0.5em;
    font-size: 1.75em;
  }
}

@-webkit-keyframes colorchange {
  0% {
    color: #81C3DE;
    letter-spacing: 0.25em;
  }

  10% {
    color: #8e44ad;
    letter-spacing: 0.4em;
  }

  14% {
    color: #85CDA2;
    letter-spacing: 0.53em;
  }

  24% {
    color: #d35400;
    letter-spacing: 0.63em;
  }

  32% {
    color: #2980b9;
    letter-spacing: 0.77em;
  }

  36% {
    color: #FFC3F6;
    letter-spacing: 0.97em;
  }

  44% {
    color: #fafafa;
    letter-spacing: 1.2em;
  }

  90% {
    color: #2980b9;
    letter-spacing: 0.5em;
  }

  100% {
    color: #FFC3F6;
    ;
    letter-spacing: 0.3em;
  }
}

@keyframes colorchange {
  0% {
    color: #81C3DE;
    letter-spacing: 0.25em;
  }

  10% {
    color: #8e44ad;
    letter-spacing: 0.4em;
  }

  14% {
    color: #85CDA2;
    letter-spacing: 0.53em;
  }

  24% {
    color: #d35400;
    letter-spacing: 0.63em;
  }

  32% {
    color: #2980b9;
    letter-spacing: 0.77em;
  }

  36% {
    color: #FFC3F6;
    letter-spacing: 0.97em;
  }

  44% {
    color: #fafafa;
    letter-spacing: 1.2em;
  }

  90% {
    color: #2980b9;
    letter-spacing: 0.5em;
  }

  100% {
    color: #FFC3F6;
    ;
    letter-spacing: 0.3em;
  }
}

@-webkit-keyframes flicker {
  0% {
    background: #4b4b4b;
  }

  10% {
    background: #4a4a4a;
  }

  30% {
    background: #3a3a3a;
  }

  50% {
    background: #1a1a1a;
  }

  70% {
    background: #1a1a1a;
  }

  90% {
    background: #3a3a3a;
  }

  100% {
    background: #4b4b4b;
  }

}

@keyframes flicker {
  0% {
    background: #4b4b4b;
  }

  10% {
    background: #4a4a4a;
  }

  30% {
    background: #3a3a3a;
  }

  50% {
    background: #1a1a1a;
  }

  70% {
    background: #1a1a1a;
  }

  90% {
    background: #3a3a3a;
  }

  100% {
    background: #4b4b4b;
  }

}
