
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0 0 2px 3px rgba(120, 120, 120, 0.5);
  box-shadow: 0 0 2px 3px rgba(120, 120, 120, 0.5);
}
#main {
  overflow: hidden;
}
#main article {
  position: relative !important;
  display: block;
}

/*transition rea cv*/
.round-background {
  background-color: #f3f6f7;
  border-radius: 50%;
  position: absolute;
  right: -30%;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
  overflow: hidden !important;
  opacity: 0.98 !important;
}

/*==scroll background scale velocity===*/
.scale-rounded {
  -webkit-transform: scale(5) !important;
  transform: scale(5) !important;
}

.z-index-rounded {
  position: absolute;
  z-index: 6 !important;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  font-family: "heebo" !important;
  font-weight: 900;
  text-transform: uppercase;
  color: #fafafa;
  -webkit-transition: color 0.3s ease, top 0.3s ease;
  transition: color 0.3s ease, top 0.3s ease;
}

#presentations .bg-light {
  -webkit-transition: background-position 0.3s ease;
  transition: background-position 0.3s ease;
}

/*=======CV scroll css============*/
/*ISCROLL VIEWPORT and frise settings*/

#viewport {
  position: relative;
  //user-select: none;
  overflow: hidden;
}

#cv .frise {
  touch-action: pan-y;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 700%;
  height: 100%;
  background-color: transparent;
  transform: translateZ(0);
  user-select: none;
  text-size-adjust: none;
  &,
  &:hover {
    cursor: url(), auto;
  }
}

#cv button {
  letter-spacing: 1px;

  &:hover {
    cursor: pointer;
  }
}

$hfrise: 100vh * 1.76;

.frise {
  list-style: none;
  padding: 0;
  height: 100%;
  text-align: center;
  position: relative;
  min-height: $hfrise;
  
  @media screen and (min-height: $break-sm) {
    min-height: $hfrise / 1.76;
  }
  @media screen and (min-width: $break-md) and (min-height: $break-sm) {
    min-height: $hfrise - 30vh;
  }
  //~ hd screens
  @media screen and (min-width: $break-xl) and (min-height: $break-md) {
    min-height: $hfrise - 42vh;
  }
}

.frise > li {
  position: relative;
  float: left;
  width: 14.3%;
  padding: 0 2.1em;
  height: 100%;
  &:last-child {
    width: 14.1%;
  }
}

@media (min-width: $break-sm) {
  .frise > li {
    width: 14.29%;

    &:last-child {
      width: 14.24%;
    }
  }
}

@media (min-width: $break-md) {
  .frise > li {
    width: 14.285%;

    &:last-child {
      width: 14.24%;
    }
  }
}

.frise::after {
  clear: both;
}

/*setting section*/
.frise .cv-text {
  position: relative;
  text-align: center;
}

.frise .svg-pres {
  display: block;
}

/*==============PAGE 1=============*/
/*svg manage*/
#bm svg {
  max-height: 100px;
  max-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding-left: 10px;
}

@media (min-width: $break-sm) {
  #bm svg {
    max-height: 136px;
    max-width: 136px;
  }
}

/*title*/
.cv-text {
  position: relative;

  div {
    font-size: 1.2em;
    letter-spacing: 5px;
    width: 95%;

    @media (min-width: $break-sm) {
      font-size: 1.1rem;
      letter-spacing: 0.1em;
      width: 70%;
    }

    @media (min-width: $break-md) {
      font-size: 1.5rem;
      letter-spacing: 0.2em;
      width: 75%;
    }

    @media (min-width: $break-lg) {
      font-size: 1.8rem;
      letter-spacing: 0.29em;
      width: 79%;
    }

    @media (min-width: $break-xl) {
      font-size: 2rem;
      letter-spacing: 0.4em;
      width: 90%;
    }
  }

  h5 {
    letter-spacing: 2px;
    font-size: 0.4em;
    width: 100%;
    color: #fff;
  }
}


/*==============THEME COLORS============*/
.th-grey {
  color: #949494;
}

#cv {
  position: relative;
}

.font-0 {
  opacity: 0;
  -webkit-transition: all 1.7s ease;
  transition: all 1.7s ease;
}

/* ====SECTIONS OF CV=====*/

/*====SECTION 2====*/
@media (min-width: $break-sm) {
  #text-sec1 {
    margin-left: 2rem;
  }
}

/*============SECTION 2 -3 text titles settings=============*/

.text {
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  height: auto;
}

.title {
  font-size: 1.7rem;
  letter-spacing: 0.3rem;
}

#section-2 .white-container {
  transform: translateX(60%);
  width: 300px;
  height: 300px;
  z-index: -1;
  position: absolute;
  top: 90%;
  left: 0;
}

@media (min-height: 481px) {
  #section-2 .white-container {
    top: 76%;
    transform: translate(0, -76%);
  }
}

/*image in white-container*/

@mixin decCircle {
  margin: 0.7em 0 0 0.7em;
}

@mixin circle {
  border-radius: 50%;
  height: 100px;
  width: 100%;
}

@media (min-width: $break-sm) {
  #text-sec1 {
    margin-left: 2rem;
  }

  .text {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    line-height: 1.7em;
    height: 55%;
  }

  .title {
    font-size: 1.9rem;
  }

  /*logo manage*/
  .bg-cv > div {
    background-clip: border-box;
    height: 150px;
  }

  #section-2 .white-container {
    position: relative;
    top: 5.5%;
    left: 0;
    float: left;
    background: #fff;
  }
}
.bg-cv {
  div {
    background-clip: border-box;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 31%;
  }
  > div {
    background-size: 45%;

    &:nth-child(2) {
      background-size: 50%;
    }
    &:nth-child(3) {
      background-size: 42%;
    }
  }
}

@media (min-width: $break-md) {
  .text {
    font-size: 0.83rem;
    height: 45%;
  }
  .title {
    font-size: 2.3rem;
  }
  /*//////sec 2\\\\\*/
  #section-2 .white-container {
    top: -35%;
    left: 0;
  }

  /*//////sec 2\\\\\*/
}

@media (min-width: $break-lg) {
  .text {
    font-size: 1rem;
    height: 42%;
  }
  .title {
    font-size: 3.4rem;
  }
}

/*//////sec 2\\\\\*/

@media (min-width: $break-xl) {
  .text {
    font-size: 1.15rem;
    height: 35%;
  }
}

/*==============SECTION 3============*/

#section-3 {
  position: relative;

  .timeline-anchor::before {
    content: "";
    background: #3c6382;
    border: 2px solid #fafafa;
    position: absolute;
    top: 28%;
    height: 17px;
    width: 17px;
    display: none;
  }
  z-index: 0;

  .row::after {
    content: "";
    width: 140%;
    height: 2px;
    background-color: #fafafa;
    position: absolute;
    z-index: -1;
    transform: rotate(90deg) translateY(-50%);
    top: 50%;
  }
}

@media (min-width: $break-md) {
  #section-3 .timeline-anchor::before {
    top: 50%;
    transform: translateY(-50%);
    display: initial;
  }

  #section-3 .row::after {
    width: 100%;
    left: 0;
    transform: rotate(0deg) translateY(-50%);
  }
}

/*fontyear*/
.font-year {
  padding: 0;
  background: #3c6382;
  display: block;
  font-size: 0.9rem;
  color: #fafafa;
}

@media (min-width: $break-sm) {
  .font-year {
    font-size: 1.2rem;
  }
}

@media (min-width: $break-md) {
  .font-year {
    /*display inline with horizontal timeline*/
    font-size: 1.3rem;
    background: none;
    line-height: 7;
    padding-left: 0.5em;
  }
}

@media (min-width: $break-lg) {
  .font-year {
    font-size: 1.47rem;
  }
}

@media (min-width: $break-xl) {
  .font-year {
    font-size: 1.8rem;
  }
}

@media (min-height: 768px) and (min-width: $break-md) {
  .font-year {
    line-height: 10;
  }
}

/*text section 3 manage*/
#section-3 .text {
  background: #3c6382;
}

#section-3 .border {
  border: 2px solid #fafafa !important;
}

/*responsive chrono line + title responsive*/
#section-3 .title {
  position: absolute;
  left: 50%;
  top: -10%;
  opacity: 0;
}

@media (min-width: 321px) {
  #section-3 .title {
    opacity: 1;
  }
}

@media (min-width: $break-sm) {
  #section-3 .d-flex span.bg-dark {
    width: 500px;
  }
}

@media (min-width: $break-md) {
  #section-3 {
    .d-flex span.bg-dark {
      width: 500px;
    }
    .title {
      top: 140%;
    }
  }
}

@media (min-width: $break-lg) {
  #section-3 .d-flex span.bg-dark {
    width: 700px;
  }
}

@media (min-width: $break-xl) {
  #section-3 .d-flex span.bg-dark {
    width: 1050px;
  }
}


/*==============SECTION 4============*/

#section-4 {
  padding: 0 0.6em;
}

@media (min-height: 700px) {
  #section-4 {
    padding: 0 2.1em;
  }
}

#section-4 .container {
  padding: 0;
}

@media (min-width: $break-md) {
  #section-4 .container {
    padding: 0 7%;
  }
}

@media (min-width: $break-lg) {
  #section-4 .container {
    padding: 0 14.3%;
  }
}

@media (min-width: $break-xl) {
  #section-4 .container {
    padding: 0 16.5%;
  }
}

@media (min-width: $break-xxl) {
  #section-4 .container {
    padding: 0 8.5%;
  }
}

@media (min-width: 1900px) {
  #section-4 .container {
    padding: 0 5.5%;
  }
}

.effect-1:nth-child(2),
.effect-1:nth-child(3) {
  border-top: none;
  border-bottom: none;
}

.effect-1 {
  margin: 0;
  padding: 0;
  position: relative;
  width: 400px;
  height: 150px;
  overflow: hidden;
  border: 2px solid #fff;
  -webkit-perspective: 700px;
  perspective: 700px;
}

.effect-1 .figure {
  height: 100%;
  width: 102%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  cursor: pointer;
}

.effect-1 .figure .effect-title {
  display: block;
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /*safari*/
}

.effect-1 .figure .figcaption {
  position: absolute;
  width: 100%;
  z-index: 5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.effect-1 .figcaption h3 {
  text-align: left;
  opacity: 1;
}

.effect-1 .figure p {
  display: block;
  margin: 0;
  text-align: left;
}

.effect-1 .figure .figcaption {
  padding: 0.6em 0.6em 0.1em 0.6em;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 102%;
  text-align: center;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  transition: all 0.5s;
}

.effect-1 .figure .effect-title {
  backface-visibility: hidden;
  transition: all 0.5s;
}

.effect-1 .figure:hover .effect-title,
.figure.hover .effect-title {
  transform: rotateY(180deg);
}

.effect-1 .figure:hover .figcaption,
.figure.hover .figcaption {
  transform: rotateY(0);
  background: #fff;
}

.figure .figcaption.text-dark {
  color: #3c6382 !important;
}

/*section 4 responsive font and block*/

.effect-title h4 {
  font-size: 1.3rem;
  width: 70%;
  line-height: 36px;
  letter-spacing: 0.1em;
  padding: 0 6%;
}

.figcaption h3 {
  font-size: 1.2em;
  line-height: 21px;
  margin-bottom: 0.16em;
}

.effect-1 p {
  line-height: 17px;
  font-size: 0.82em;
}

@media (min-width: $break-sm) {
  .effect-1 {
    height: 140px;
    width: 320px;
  }
}

@media (min-width: $break-md) {
  .effect-1 {
    height: 200px;
  }

  .effect-1 .figcaption {
    height: 100%;
  }

  .effect-1 p {
    font-size: 1em;
    line-height: 1.08em;
  }

  .effect-1 h3 {
    font-size: 1.6em;
    line-height: 1.1em;
  }
}

@media (min-width: $break-lg) {
  .effect-1 {
    height: 205px;
    width: 330px;
    .figcaption {
      height: 100%;
    }
    p {
      font-size: 1.1em;
      line-height: 1.12em;
    }

    .effect-1 h3 {
      font-size: 1.6em;
      line-height: 1.1em;
    }
  }
}

@media (min-width: $break-xl) {
  .effect-1 .figcaption {
    height: 100%;
  }

  .effect-1 p {
    font-size: 1.1em;
    line-height: 1.12em;
  }

  .effect-1 h3 {
    font-size: 1.6em;
    line-height: 1.1em;
  }
}

/*====SECTION 5====*/

/* 
** Change this if you need to modify
** the amount of lines displayed
*/
$total-lines: 11;

/*
** Leave these unless you want
** to open a whole can of worms
*/
$left-offset: 59px;
$clip-height: 180px;
$clip-width: 180px;
$line-height: $clip-height - 5px;

/*
 Apply common styles to each line of text
*/
//map for round colors
$round-b: ();
$round-b: map-merge(
  (
    1: rgb(226, 63, 63),
    2: #90e2d7,
    3: #fbbe54,
    4: #f59b47,
    5: #4f78a7,
    6: #6ba8da,
    7: #d6516d,
    8: #aec5d7,
    9: #ef8ab1,
    10: #9b6cc2,
    11: #4bdc91,
    12: #6ba8da,
    13: #2c84c5
  ),
  $round-b
);

.tools {
  height: 100%;
  margin: 0 auto;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;

  li {
    overflow: hidden;
    position: relative;
    height: auto;
    margin: 0.32em 0.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: calc(100% / 3.5);
    max-width: calc(100% / 3.5);
    @include heebo;
    font-weight: 700;
    font-size: 0.82em;

    $i: 4;

    @each $bp, $val in $breakpoints {
      @media (min-width: $val) {
        max-width: 100% / $i;
        flex-basis: 100% / $i;
        font-size: 1em + 0.13 * $i;
        margin: calc(#{$i}/ 20) + em calc(#{$i}/ 17.5) + em;
      }

      $i: $i + 1;
    }

    &:before {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    //   // Change the perspective of each alternating line
    //   &:nth-child(odd) {
    //     transform: skew(50deg, -10deg) scaleY(0.8888);
    //   }

    //   &:nth-child(even) {
    //     transform: skew(15deg, -10deg) scaleY(1.2222);
    //   }

    // Loop over the total lines and apply a left offset
    $j: 0;

    @each $j, $val in $round-b {
      // &:nth-child(#{$i}) {
      //   left: $left-offset * $i;
      // }
      &:nth-child(#{$j}) {
        //background: url(../images/tools/t-#{$i}.png);
        border: 9px solid $val;
        color: $val;
        //@include background-contain;
      }
    }
  }
}

/*
 Fine-grained text styles
*/
.tools div {
  height: $clip-height;
  line-height: $line-height;
  padding: 0 10px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  vertical-align: top;
  white-space: nowrap;
}
