- const socials = htmlWebpackPlugin.options.global.socials;
- console.log(socials);

.menu-lightbox
nav.navbar.navbar-expand-md.bg-light.navbar-light
	button.navbar-toggler(type='button' title="menu mobile")
		//-.non-toggled
		span
		span
		span
	#navbar.collapse.navbar-collapse
		.navbar-nav
			ul.navbar-nav.ml-3
				li.nav-item.mr-2.cl-effect-2
					a.nav-link.bg-dark.text-uppercase.roboto.f900.position-relative.d-inline(title='portfolio développeur CMS Web design intégrateur', href='#wrapper')
						span.text-white(data-hover='About' title="more about me and Curriculum vitae") About
				li.nav-item.mr-2.cl-effect-2
					a.nav-link.bg-dark.text-uppercase.roboto.f900.position-relative.d-inline(href='#realisations', title='expériences de projets web')
						span.text-white(data-hover='Portfolio' title="Portfolio of web products") Portfolio
				li.nav-item.cl-effect-2.mr-2
					a.nav-link.bg-dark.text-white.text-uppercase.roboto.f900.position-relative.d-inline(href='#contact', title='Me contacter')
						span.text-white(data-hover='Contact' title="Contact me") Contact
	.navbar-text.mt-2.mr-2.mb-2.float-right.float-md-none
		each item in socials
			a.position-relative.d-inline.px-2(href=item.link title=item.title target="_blank")
				span.text-white.icon-hover
					i(class=item.icon)
