
.menu-lightbox
nav.navbar.navbar-expand-md.bg-light.navbar-light
    button.navbar-toggler.non-toggled(type='button' title="menu mobile")
        span
        span
        span
    #navbar.collapse.navbar-collapse
        .navbar-nav
            ul.navbar-nav.ml-3
                li.nav-item.mr-2.cl-effect-2
                    a.nav-link.bg-dark.text-uppercase.roboto.f900.position-relative.d-inline(title='portfolio développeur CMS Web design intégrateur', href='#wrapper')
                        span.text-white(data-hover='à propos') à propos
                li.nav-item.mr-2.cl-effect-2
                    a.nav-link.bg-dark.text-uppercase.roboto.f900.position-relative.d-inline(href='#realisations', title='expériences de projets web')
                        span.text-white(data-hover='Portfolio') Portfolio
                li.nav-item.cl-effect-2.mr-2
                    a.nav-link.bg-dark.text-white.text-uppercase.roboto.f900.position-relative.d-inline(href='#contact', title='Me contacter')
                        span.text-white(data-hover='Contact') Contact
    .navbar-text.mt-2.mr-2.mb-2.float-right.float-md-none
        a.position-relative.d-inline.px-2(href='https://www.linkedin.com/in/loic-roux-404' title="Mon linkedIn : découvrez mes compétences plus en détail ou recrutez moi !")
            span.text-white.icon-hover
                i.fa-linkedin1

        a.position-relative.d-inline.px-2(href="https://github.com/loicroux69" title="Mon github : découvrez mes projets public")
            span.text-white.icon-hover
                i.fa-github
