header#header
    .menu-lightbox
    nav.navbar.navbar-expand-md.bg-light.navbar-light
        button.navbar-toggler.non-toggled(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
            span
            span
            span
        #navbar.collapse.navbar-collapse
            .navbar-nav
                ul.navbar-nav.ml-3
                    li.nav-item.mr-2.cl-effect-2
                        a.nav-link.bg-dark.text-uppercase.roboto.f900.position-relative.d-inline(title='portfolio développeur CMS Web design intégrateur', href='#wrapper')
                            span.text-white(data-hover='Portfolio') Portfolio
                    li.nav-item.mr-2.cl-effect-2
                        a.nav-link.bg-dark.text-uppercase.roboto.f900.position-relative.d-inline(href='#realisations', title='expériences de projets web')
                            span.text-white(data-hover='Réalisations') Réalisations
                    li.nav-item.cl-effect-2.mr-2
                        a.nav-link.bg-dark.text-white.text-uppercase.roboto.f900.position-relative.d-inline(href='#contact', title='Me contacter')
                            span.text-white(data-hover='Contact') Contact
        .navbar-text.mt-1.mr-2.mb-2.float-right.float-md-none
            a.position-relative.d-inline.p-0(href='https://www.linkedin.com/in/loic-roux-404')
                span.text-white.icon-hover
                    i.fa-linkedin
                    while i<9
                        span(class="path#{i++}")
