- const favico =require('../../assets/images/favicon.png');

meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
meta(charset='utf-8')
//- Referencement
meta(name='description', content="")
meta(name='robots', content='noodp,noydir')
meta(name='google', content='nositelinkssearchbox')
title #{htmlWebpackPlugin.options.title}
    //- favico and shortcut
link(rel='icon', href=favico, type='image/png')
link(rel='favicon', href=favico)
 