.loader
    .trackbar
        .loadbar.position-fixed
            h1.position-absolute.roboto.f900.text-uppercase.text-center
                span#changingword Student
            .wrapper.position-absolute
                p.montserrat.f800.ml10.d-none
                    span.text-wrapper
                        span.letter.text-uppercase Dev
        #precent.percentage.position-absolute
        #precent2.percentage.perc2.position-absolute