.loader
    .trackbar
        .loadbar
            h1.position-absolute.roboto.f900.text-uppercase.text-center
                span#changingword Loïc Roux
            .wrapper.position-absolute
                p.muli.f800.ml10.d-none
                    span.text-wrapper
                        span.letter.text-uppercase Website
        #precent.percentage
        #precent2.percentage.perc2