
- const pres = htmlWebpackPlugin.options.global.pres;


.bg-light.position-relative.w-100.h-80
    .bg-light.porfolio.lazy.rounded.text-center.mh-100.mw-100(title="image loic roux portfolio")

    span.display-block.filter.position-absolute.mh-100.mw-100.w-100.h-100.shadow-md
    .caption.px-2
        p.text-center.mb-4.text-uppercase.roboto.f900.px-2.bg-white.text-dark(title='Loic Roux') Loïc Roux
        span.text-center.text-uppercase.roboto.f900.px-1.bg-dark.text-white.text0
            | Etudiant en DUT métiers du Multimédia et internet

    a.arrow-pres.arrow-wrapper(href='#wrapper', title='développement sites internet')
        .cta
            span.arrow.primera.next.bounceAlpha
            span.arrow.segunda.next.bounceAlpha
    //- div
    //-     a(href='')
    //-         span
    //-         span
    //-         span
//- Presentation