doctype html
html.no-js
  head
    include includes/head
  body.bg-info
    header#header
      include includes/header
    section#main
      article#presentation.shadow-md.bg-info
        include includes/presentation

      article#cv.bg-info
        include includes/cv
          //- wrapper
          //- CV
      p.separate.bg-info
      //-article realisation
      include includes/realisations
      article#contact
        include includes/contact
      footer#footer
        include includes/footer
      //- </section main
      article.preloader-wrap
        include includes/loader

    include includes/scripts

