doctype html
html.no-js(lang="fr")
  head
    include includes/head
  body.bg-info
    header#header.wrappers.d-none
      include includes/header
    section#main.wrappers.d-none
      article#presentation.shadow-md.bg-info
        include includes/presentation

      article#cv.bg-info
        include includes/cv
          //- wrapper
          //- CV
      p.separate.bg-info
      //-article realisation
      include includes/realisations
      article#contact
        include includes/contact


      //- </section main

    footer.wrappers.d-none
      include includes/footer
    article.preloader-wrap
      include includes/loader
