$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
$break-xxl: 1500px;


$breakpoints:(
    sm: $break-sm,
    md: $break-md,
    lg: $break-lg,
    xl: $break-xl
);

@mixin mediaB($_key) {
    @media screen and (min-width: map-get($breakpoints, $_key)) {
        &{ @content; }
    }
}
