@font-face {
  font-family: 'arinella';
  src:  url('fonts/arinella.eot?ri6jzb');
  src:  url('fonts/arinella.eot?ri6jzb#iefix') format('embedded-opentype'),
    url('fonts/arinella.ttf?ri6jzb') format('truetype'),
    url('fonts/arinella.woff?ri6jzb') format('woff'),
    url('fonts/arinella.svg?ri6jzb#arinella') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fa-"], [class*="fa-"]{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'arinella';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-checked .path1:before {
  content: "\e900";
  color: rgb(37, 174, 136);
}
.fa-checked .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.fa-contact .path1:before {
  content: "\e902";
  color: rgb(164, 194, 247);
}
.fa-contact .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(227, 231, 242);
}
.fa-contact .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(164, 194, 247);
}
.fa-contact .path4:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(227, 231, 242);
}
.fa-contact .path5:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(164, 194, 247);
}
.fa-contact .path6:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(227, 231, 242);
}
.fa-contact .path7:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(164, 194, 247);
}
.fa-contact .path8:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(227, 231, 242);
}
.fa-contact .path9:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.fa-contact .path10:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.fa-contact .path11:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.fa-contact .path12:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(66, 141, 255);
}
.fa-contact .path13:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(66, 141, 255);
}
.fa-contact .path14:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(66, 141, 255);
}
.fa-contact .path15:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(66, 141, 255);
}
.fa-contact .path16:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(66, 141, 255);
}
.fa-continue:before {
  content: "\e912";
  color: #f9f9f9;
}
.fa-envelope .path1:before {
  content: "\e913";
  color: rgb(102, 106, 232);
}
.fa-envelope .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.fa-envelope .path3:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(0, 114, 255);
}
.fa-envelope .path4:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(0, 191, 255);
}
.fa-envelope .path5:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(0, 175, 255);
}
.fa-error .path1:before {
  content: "\e918";
  color: rgb(215, 90, 74);
}
.fa-error .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.fa-error .path3:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.fa-next:before {
  content: "\e91b";
  color: #fff;
}
.fa-prev:before {
  content: "\e91c";
  color: #fff;
}
.fa-alert-circle:before {
  content: "\e91d";
}
.fa-alert-octagon:before {
  content: "\e91e";
}
.fa-alert-triangle:before {
  content: "\e91f";
}
.fa-align-center:before {
  content: "\e920";
}
.fa-aperture:before {
  content: "\e921";
}
.fa-arrow-down:before {
  content: "\e922";
}
.fa-arrow-down-circle:before {
  content: "\e923";
}
.fa-arrow-down-left:before {
  content: "\e924";
}
.fa-arrow-down-right:before {
  content: "\e925";
}
.fa-arrow-left:before {
  content: "\e926";
}
.fa-arrow-left-circle:before {
  content: "\e927";
}
.fa-arrow-right:before {
  content: "\e928";
}
.fa-arrow-right-circle:before {
  content: "\e929";
}
.fa-arrow-up:before {
  content: "\e92a";
}
.fa-arrow-up-circle:before {
  content: "\e92b";
}
.fa-arrow-up-left:before {
  content: "\e92c";
}
.fa-arrow-up-right:before {
  content: "\e92d";
}
.fa-at-sign:before {
  content: "\e92e";
}
.fa-book:before {
  content: "\e92f";
}
.fa-bookmark:before {
  content: "\e930";
}
.fa-briefcase:before {
  content: "\e931";
}
.fa-calendar:before {
  content: "\e932";
}
.fa-camera:before {
  content: "\e933";
}
.fa-check:before {
  content: "\e934";
}
.fa-check-circle:before {
  content: "\e935";
}
.fa-check-square:before {
  content: "\e936";
}
.fa-chevron-down:before {
  content: "\e937";
}
.fa-chevron-left:before {
  content: "\e938";
}
.fa-chevron-right:before {
  content: "\e939";
}
.fa-chevron-up:before {
  content: "\e93a";
}
.fa-chevrons-down:before {
  content: "\e93b";
}
.fa-chevrons-left:before {
  content: "\e93c";
}
.fa-chevrons-right:before {
  content: "\e93d";
}
.fa-chevrons-up:before {
  content: "\e93e";
}
.fa-clipboard:before {
  content: "\e93f";
}
.fa-clock:before {
  content: "\e940";
}
.fa-codepen:before {
  content: "\e941";
}
.fa-command:before {
  content: "\e942";
}
.fa-compass:before {
  content: "\e943";
}
.fa-copy:before {
  content: "\e944";
}
.fa-corner-down-right:before {
  content: "\e945";
}
.fa-corner-left-down:before {
  content: "\e946";
}
.fa-corner-left-up:before {
  content: "\e947";
}
.fa-corner-right-down:before {
  content: "\e948";
}
.fa-credit-card:before {
  content: "\e949";
}
.fa-crop:before {
  content: "\e94a";
}
.fa-crosshair:before {
  content: "\e94b";
}
.fa-database:before {
  content: "\e94c";
}
.fa-delete:before {
  content: "\e94d";
}
.fa-disc:before {
  content: "\e94e";
}
.fa-dollar-sign:before {
  content: "\e94f";
}
.fa-download:before {
  content: "\e950";
}
.fa-download-cloud:before {
  content: "\e951";
}
.fa-droplet:before {
  content: "\e952";
}
.fa-edit:before {
  content: "\e953";
}
.fa-edit-2:before {
  content: "\e954";
}
.fa-edit-3:before {
  content: "\e955";
}
.fa-external-link:before {
  content: "\e956";
}
.fa-eye:before {
  content: "\e957";
}
.fa-eye-off:before {
  content: "\e958";
}
.fa-facebook:before {
  content: "\e959";
}
.fa-fast-forward:before {
  content: "\e95a";
}
.fa-feather:before {
  content: "\e95b";
}
.fa-file:before {
  content: "\e95c";
}
.fa-file-minus:before {
  content: "\e95d";
}
.fa-file-plus:before {
  content: "\e95e";
}
.fa-file-text:before {
  content: "\e95f";
}
.fa-film:before {
  content: "\e960";
}
.fa-filter:before {
  content: "\e961";
}
.fa-flag:before {
  content: "\e962";
}
.fa-folder:before {
  content: "\e963";
}
.fa-folder-minus:before {
  content: "\e964";
}
.fa-folder-plus:before {
  content: "\e965";
}
.fa-gift:before {
  content: "\e966";
}
.fa-git-branch:before {
  content: "\e967";
}
.fa-git-commit:before {
  content: "\e968";
}
.fa-git-merge:before {
  content: "\e969";
}
.fa-git-pull-request:before {
  content: "\e96a";
}
.fa-github:before {
  content: "\e96b";
}
.fa-gitlab:before {
  content: "\e96c";
}
.fa-globe:before {
  content: "\e96d";
}
.fa-grid:before {
  content: "\e96e";
}
.fa-hard-drive:before {
  content: "\e96f";
}
.fa-hash:before {
  content: "\e970";
}
.fa-headphones:before {
  content: "\e971";
}
.fa-heart:before {
  content: "\e972";
}
.fa-help-circle:before {
  content: "\e973";
}
.fa-home:before {
  content: "\e974";
}
.fa-image:before {
  content: "\e975";
}
.fa-inbox:before {
  content: "\e976";
}
.fa-info:before {
  content: "\e977";
}
.fa-instagram:before {
  content: "\e978";
}
.fa-italic:before {
  content: "\e979";
}
.fa-layers:before {
  content: "\e97a";
}
.fa-layout:before {
  content: "\e97b";
}
.fa-life-buoy:before {
  content: "\e97c";
}
.fa-link:before {
  content: "\e97d";
}
.fa-link-2:before {
  content: "\e97e";
}
.fa-linkedin:before {
  content: "\e97f";
}
.fa-list:before {
  content: "\e980";
}
.fa-loader:before {
  content: "\e981";
}
.fa-lock:before {
  content: "\e982";
}
.fa-log-in:before {
  content: "\e983";
}
.fa-log-out:before {
  content: "\e984";
}
.fa-mail:before {
  content: "\e985";
}
.fa-map:before {
  content: "\e986";
}
.fa-map-pin:before {
  content: "\e987";
}
.fa-maximize:before {
  content: "\e988";
}
.fa-maximize-2:before {
  content: "\e989";
}
.fa-menu:before {
  content: "\e98a";
}
.fa-message-circle:before {
  content: "\e98b";
}
.fa-message-square:before {
  content: "\e98c";
}
.fa-minimize:before {
  content: "\e98d";
}
.fa-minimize-2:before {
  content: "\e98e";
}
.fa-minus:before {
  content: "\e98f";
}
.fa-minus-circle:before {
  content: "\e990";
}
.fa-minus-square:before {
  content: "\e991";
}
.fa-more-horizontal:before {
  content: "\e992";
}
.fa-more-vertical:before {
  content: "\e993";
}
.fa-navigation:before {
  content: "\e994";
}
.fa-navigation-2:before {
  content: "\e995";
}
.fa-paperclip:before {
  content: "\e996";
}
.fa-play-circle:before {
  content: "\e997";
}
.fa-plus:before {
  content: "\e998";
}
.fa-plus-circle:before {
  content: "\e999";
}
.fa-plus-square:before {
  content: "\e99a";
}
.fa-power:before {
  content: "\e99b";
}
.fa-save:before {
  content: "\e99c";
}
.fa-search:before {
  content: "\e99d";
}
.fa-send:before {
  content: "\e99e";
}
.fa-settings:before {
  content: "\e99f";
}
.fa-share-2:before {
  content: "\e9a0";
}
.fa-smartphone:before {
  content: "\e9a1";
}
.fa-speaker:before {
  content: "\e9a2";
}
.fa-square:before {
  content: "\e9a3";
}
.fa-star:before {
  content: "\e9a4";
}
.fa-sun:before {
  content: "\e9a5";
}
.fa-sunrise:before {
  content: "\e9a6";
}
.fa-sunset:before {
  content: "\e9a7";
}
.fa-thermometer:before {
  content: "\e9a8";
}
.fa-thumbs-down:before {
  content: "\e9a9";
}
.fa-thumbs-up:before {
  content: "\e9aa";
}
.fa-toggle-left:before {
  content: "\e9ab";
}
.fa-toggle-right:before {
  content: "\e9ac";
}
.fa-trash:before {
  content: "\e9ad";
}
.fa-trash-2:before {
  content: "\e9ae";
}
.fa-user-check:before {
  content: "\e9af";
}
.fa-user-plus:before {
  content: "\e9b0";
}
.fa-user-x:before {
  content: "\e9b1";
}
.fa-x:before {
  content: "\e9b2";
}
.fa-x-circle:before {
  content: "\e9b3";
}
.fa-zoom-in:before {
  content: "\e9b4";
}
.fa-zoom-out:before {
  content: "\e9b5";
}
